.container {
    background-color: black;
    margin-top: 200px auto 100px;

}

.bb-item {
    -moz-osx-font-smoothing: grayscale;
    background-color: brown;
}

@font-face {
    font-family: 'arrows';
    src: url('../fonts/arrows/arrows.eot');
    src: url('../fonts/arrows/arrows.eot?#iefix') format('embedded-opentype'),
        url('../fonts/arrows/arrows.woff') format('woff'),
        url('../fonts/arrows/arrows.ttf') format('truetype'),
        url('../fonts/arrows/arrows.svg#arrows') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bb-custom-wrapper {
    max-width: 1000px;
    position: relative;
    margin: auto;
    text-align: center;
}

.bb-custom-wrapper .bb-bookblock {

    width: 1000px;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button a:hover {
    opacity: 0.6;
    color: black;
}

.frame {
    padding: 5px;
    max-width: 100%;
    margin: auto auto 50px;
    width: 400px;
    height: 38px;
    background-color: #5f3e0a;
    border-radius: 25px;
}

button {
    font-size: 18px;
    color: rgb(255, 147, 0);
    border-radius: 25px;
    width: 90px;
    height: 38px;
}

.left {
    margin-right: 60px;
}

.right {
    margin-left: 60px;
}

.goHome {
    font-size: 16px;
    background-color:#747171;
    color: #fc1190;
    border-radius: 10px;
    width: 90px;
    height: 38px;
}
